<%= pf.fields_for :interests, new_interest, :child_index => "new_interest" do |f| %>
  <div class="interest">
    <p>
      <%= f.text_field :name %>
      <%= link_to_function "Remove", "$(this).parent().remove()" %>
    </p>
  </div>
<% end %>
