<div class="interest">
  <%= activist_form.fields_for :interests, new_interest do |f| %>
    <%= f.text_field :name %>
    <%= link_to_function "Remove", "$(this).parent().remove()" %>
    <%= f.submit %>
  <% end %>
</div>
